<h1>Lotto Number</h1>

<p>This can be your winning numbers</p>

<div class="numbers-container">
  <div class="head">Numbers</div>
  <div class="numbers">
    <div>48</div>
    <div>3</div>
    <div>17</div>
    <div>8</div>
    <div>18</div>
    <div>29</div>
  </div>
  <div class="head">Super Number</div>
  <div class="numbers">
    <div>5</div>
  </div>
</div>

<div class="actions">
  <button class="btn btn-primary" (click)="reload()">Reload</button>
</div>

<div class="cache-container">
  TODO: Cache
</div>
