<h1>Lotto Number</h1>

<p>This can be your winning numbers</p>

<div class="numbers-container">
  <div class="head">Numbers</div>
  <div class="numbers">
    <div *ngFor='let number of lottoField.numbers'>{{number}}</div>
  </div>
  <div class="head">Super Number</div>
  <div class="numbers">
    <div>{{lottoField.superNumber}}</div>
  </div>
</div>

<div class="actions">
  <button class="btn btn-primary" (click)="reload()">Reload</button>
</div>

<div class="cache-container">
  TODO: Cache
</div>
