@page "/lotto"

@using Web.Data
@inject LottoService LottoService

<h1>Lotto</h1>

@if (_lottoNumbers == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <div>
        <b>Lottozahlen</b><br/>
        @foreach (var number in _lottoNumbers.Numbers)
        {
            <span>@number&nbsp;&nbsp;&nbsp;</span>
        }
        <br/><br/>
        <b>Superzahl</b><br/>
        <span>@_lottoNumbers.SuperNumber</span>
        <br/><br/>
    </div>
    <div>
        <b>History</b><br/>
        @if(_history != null)
        {
            <table>
            @foreach (var historyItem in _history)
            {
                <tr>
                    @foreach (var number in historyItem.Numbers)
                    {
                        <td style="text-align: center">@number</td>
                        <td>&nbsp;&nbsp;</td>
                    }
                    <td>&nbsp;</td>
                    <td><b>@historyItem.SuperNumber</b></td>
                </tr>
            }
            </table>
        }
        else
        {
            <i>History disabled</i>
        }
    </div>
}

@code {

    private LottoService.LottoNumbers _lottoNumbers;
    private IEnumerable<LottoService.LottoNumbers> _history;

    protected override async Task OnInitializedAsync()
    {
        _lottoNumbers = await LottoService.GetNumbers();
        _history = await LottoService.GetHistory();
    }

}
